[submodule "themes/hugo-goa"]
	path = themes/hugo-goa
	url = https://github.com/shenoybr/hugo-goa.git
[submodule "public"]
	path = public
	url = https://github.com/shahe101/shahe101.github.io.git
	branch = master
